.before-load{
    display: none;
}
.img-responsive {
    display: inline-block;
    height: 302px;
    max-width: 100%;
}
.item-margin{
    margin-bottom: 40px;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0; /*初始状态 透明度为0*/
    }
    50% {
        opacity: 0; /*中间状态 透明度为0*/
    }
    100% {
        opacity: 1; /*结尾状态 透明度为1*/
    }
}
.fade-status{
    visibility:hidden;
}
.test
{
	margin:10px;
	background: black;
}
.show-card
{-webkit-animation-name: fadeIn; /*动画名称*/
    -webkit-animation-duration: 5s; /*动画持续时间*/
    -webkit-animation-iteration-count: 1; /*动画次数*/
    -webkit-animation-delay: 0s; /*延迟时间*/}
