.photo-wrap {
            -webkit-transform: rotateY(0deg);
            -webkit-transform-style: preserve-3d; /*让其下一级子元素拥有3D效果，背面隐藏效果。如果没有该属性子元素-webkit-backface-visibility: hidden;无效*/
            transition: all 0.5s ease-in;
            transform-origin: 50% 50%;
        }
        .photo-wrap.wrap_back {
            -webkit-transform: rotateY(180deg);
        }
        .side-front {
			margin-bottom:25px;
            -webkit-backface-visibility: hidden;
            -webkit-transform: rotateY(0deg);
        }
        .side-back {
			position: absolute;
			left:0;
			right:0;
            -webkit-backface-visibility: hidden;
            -webkit-transform: rotateY(180deg);
        }
        .side {
            -webkit-backface-visibility: hidden;
        }
.img-responsive {
    display: inline-block;
    height: 255px;
    max-width: 100%;
}